<section class="feedback feedback--row">
    <div class="feedback__container feedback__container--column">
        <div class="feedback__title-container feedback__title-container--basis-auto">
            <h1 class="template-title feedback__template-title">let`s talk</h1>
            <h3 class="feedback__subtitle">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <form class="template-form feedback__template-form feedback__template-form--basis-auto">
            <div class="input-box">
                <label class="input-box__label" for="first-name">FIRST NAME:</label>
                <div class="input-box__input-wrapper">
                    <input class="input-box__input" id="first-name" type="text" inputmode="text"
                        autocomplete="given-name">
                    <svg class="input-box__svg" width="100%" height="40">
                        <path class="input-box__line" d="M0 20 Q390 20, 390 20"></path>
                    </svg>
                </div>
            </div>

            <div class="input-box">
                <label class="input-box__label" for="last-name">LAST NAME:</label>
                <div class="input-box__input-wrapper">
                    <input class="input-box__input" id="last-name" type="text" inputmode="text"
                        autocomplete="family-name">
                    <svg class="input-box__svg" width="100%" height="40">
                        <path class="input-box__line" d="M0 20 Q397 20, 397 20"></path>
                    </svg>
                </div>
            </div>
            <div class="input-box">
                <label class="input-box__label" for="user-email">email:</label>
                <div class="input-box__input-wrapper">
                    <input class="input-box__input" id="user-email" type="email" inputmode="email" autocomplete="email">
                    <svg class="input-box__svg" width="100%" height="40">
                        <path class="input-box__line" d="M0 20 Q439 20, 439 20"></path>
                    </svg>
                </div>
            </div>
            <div class="input-box">
                <label class="input-box__label" for="phone">phone:</label>
                <div class="input-box__input-wrapper">
                    <input class="input-box__input" id="phone" type="number" inputmode="tel" autocomplete="tel">
                    <svg class="input-box__svg" width="100%" height="40">
                        <path class="input-box__line" d="M0 20 Q439 20, 439 20"></path>
                    </svg>
                </div>
            </div>

            <div class="input-box">
                <label class="input-box__label" for="comment">comment:</label>
                <div class="input-box__input-wrapper input-box__input-wrapper--has-textarea">
                    <textarea class="input-box__input" id="comment"></textarea>
                    <svg class="input-box__svg" width="100%" height="40">
                        <path class="input-box__line" d="M0 20 Q409 20, 409 20"></path>
                    </svg>
                </div>
            </div>
            <fieldset class="checkbox-group">
                <legend class="checkbox-group__legend">Lorem ipsum dolor sit amet consectetur.</legend>
                <div class="input-box input-box--checkbox">
                    <input type="checkbox" id="collaboration" name="feedback">
                    <label for="collaboration">COLLABORATION</label>
                </div>
                <div class="input-box input-box--checkbox">
                    <input type="checkbox" id="order" name="feedback">
                    <label for="order">ORDER A PROJECT</label>
                </div>
            </fieldset>
            <button class="btn btn--primary template-form__submit" type="submit" data-magnetic><span>send</span></button>
        </form>
    </div>
    <iframe class="feedback__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3166.778529597345!2d-122.17012340000001!3d37.4659507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb55f5dd250d%3A0x2df43b77ca8d9a04!2zNTcyIFJpbmd3b29kIEF2ZSwgTWVubG8gUGFyaywgQ0EgOTQwMjUsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1770574424488!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>