<section class="news">
    <div class="container">
        <div class="news__title-container">
            <h2 class="template-title news__template-title">latest news</h2>
            <a href="#" class="link-action news__link-action">
                <span class="link-action__text link-action__text--lg">FROM THE WORLD OF DRONES</span>
                <span class="link-action__text">SEE ALL NEWS</span>
                <svg class="template-arrow" viewBox="0 0 48 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="template-arrow__line" d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
                </svg>
            </a>
        </div>
        <div class="news__list news__list--grid">
            <a href="#" class="news__item news__item--grid-item">
                <h6 class="news__item-meta">FROM THE FAA:</h6>
                <h3 class="news__item-title">Drones in Construction: An In-Depth Guide</h3>
                <svg class="template-arrow news__template-arrow" viewBox="0 0 48 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="template-arrow__line" d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
                </svg>
            </a>
            <a href="#" class="news__item news__item--grid-item">
                <h6 class="news__item-meta">FROM THE FAA:</h6>
                <h3 class="news__item-title">Ready for a calmer weekend?</h3>
                <svg class="template-arrow news__template-arrow" viewBox="0 0 48 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="template-arrow__line" d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
                </svg>
            </a>
            <a href="#" class="news__item news__item--grid-item">
                <h6 class="news__item-meta">FROM THE FAA:</h6>
                <h3 class="news__item-title">360° video tour</h3>
                <svg class="template-arrow news__template-arrow" viewBox="0 0 48 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="template-arrow__line" d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
                </svg>
            </a>
        </div>
    </div>
</section>