<nav class="navigation pagination" aria-label="Пагинация записей">
    <div class="nav-links">
        <a class="prev page-numbers" href="https://dronemapping360.com/services/"><svg
                class="template-arrow" viewBox="0 0 48 25">
                <path class="template-arrow__line" d="M45.5 12H0M45.5 12L36.5141 21M45.5 12L36.5141 3"></path>
            </svg>
        </a>
        <a class="page-numbers" href="https://dronemapping360.com/services/">1</a>
        <span aria-current="page" class="page-numbers current">2</span>
        <a class="page-numbers" href="https://dronemapping360.com/services/page/3/">3</a>
        <a class="next page-numbers" href="https://dronemapping360.com/services/page/3/">
            <svg class="template-arrow" viewBox="0 0 48 25">
                <path class="template-arrow__line" d="M45.5 12H0M45.5 12L36.5141 21M45.5 12L36.5141 3"></path>
            </svg>
        </a>
    </div>
</nav>