<section class="portfolio">
    <div class="container">
        <h1 class="template-title">portfolio</h1>
        <div class="portfolio__grid">
            <a href="#" class="card">
                <picture class="card__picture">
                    <source media="(min-width: 769px)" srcset="./img/services-2-xl.png">
                    <img src="./img/services-2-sm.png" class="card__image" alt="d mapping" loading="lazy">
                </picture>
                <h4 class="card__title">3d mapping</h4>
                <p class="card__text">Lorem ipsum dolor sit amet consectetur. Tellus dignissim velit orci aliquet
                    consectetur.</p>
                <svg class="template-arrow card__template-arrow" viewBox="0 0 48 25" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path class="template-arrow__line"
                        d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
                </svg>
            </a>
            <a href="#" class="card">
                <picture class="card__picture">
                    <source media="(min-width: 769px)" srcset="./img/services-2-xl.png">
                    <img src="./img/services-2-sm.png" class="card__image" alt="d mapping" loading="lazy">
                </picture>
                <h4 class="card__title">3d mapping</h4>
                <p class="card__text">Lorem ipsum dolor sit amet consectetur. Tellus dignissim velit orci aliquet
                    consectetur.</p>
                <svg class="template-arrow card__template-arrow" viewBox="0 0 48 25" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path class="template-arrow__line"
                        d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
                </svg>
            </a>
            <a href="#" class="card">
                <picture class="card__picture">
                    <source media="(min-width: 769px)" srcset="./img/services-2-xl.png">
                    <img src="./img/services-2-sm.png" class="card__image" alt="d mapping" loading="lazy">
                </picture>
                <h4 class="card__title">3d mapping</h4>
                <p class="card__text">Lorem ipsum dolor sit amet consectetur. Tellus dignissim velit orci aliquet
                    consectetur.</p>
                <svg class="template-arrow card__template-arrow" viewBox="0 0 48 25" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path class="template-arrow__line"
                        d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
                </svg>
            </a>
            <a href="#" class="card">
                <picture class="card__picture">
                    <source media="(min-width: 769px)" srcset="./img/services-2-xl.png">
                    <img src="./img/services-2-sm.png" class="card__image" alt="d mapping" loading="lazy">
                </picture>
                <h4 class="card__title">3d mapping</h4>
                <p class="card__text">Lorem ipsum dolor sit amet consectetur. Tellus dignissim velit orci aliquet
                    consectetur.</p>
                <svg class="template-arrow card__template-arrow" viewBox="0 0 48 25" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path class="template-arrow__line"
                        d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
                </svg>
            </a>
            <a href="#" class="card">
                <picture class="card__picture">
                    <source media="(min-width: 769px)" srcset="./img/services-2-xl.png">
                    <img src="./img/services-2-sm.png" class="card__image" alt="d mapping" loading="lazy">
                </picture>
                <h4 class="card__title">3d mapping</h4>
                <p class="card__text">Lorem ipsum dolor sit amet consectetur. Tellus dignissim velit orci aliquet
                    consectetur.</p>
                <svg class="template-arrow card__template-arrow" viewBox="0 0 48 25" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path class="template-arrow__line"
                        d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
                </svg>
            </a>
        </div>
    </div>
</section>