<section class="works">
    <div class="container works__container">
        <h2 class="template-title works__title">selected works</h2>
        <a href="#" class="works__link">
            <span class="works__link-text">SEE ALL WORKS</span>
            <svg class="template-arrow" viewBox="0 0 48 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="template-arrow__line"
                    d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
            </svg>
        </a>
        <div class="works__list">
            <a href="#" class="works__item">
                <picture>
                    <source media="(min-width: 769px)" srcset="./img/selected-works-1-xl.png">
                    <img src="./img/selected-works-1-sm.png" class="works__item-image" alt="360° video tour"
                        loading="lazy">
                </picture>
                <h4 class="works__item-title">360° video tour for real estate</h4>
                <svg class="template-arrow works__template-arrow" viewBox="0 0 48 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="template-arrow__line" d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
                </svg>
            </a>
            <a href="#" class="works__item">
                <picture>
                    <source media="(min-width: 769px)" srcset="./img/selected-works-2-xl.png">
                    <img src="./img/selected-works-2-sm.png" class="works__item-image" alt="360° video tour"
                        loading="lazy">
                </picture>
                <h4 class="works__item-title">2d & 3d images</h4>
                <svg class="template-arrow works__template-arrow" viewBox="0 0 48 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="template-arrow__line" d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
                </svg>
            </a>
            <a href="#" class="works__item">
                <picture>
                    <source media="(min-width: 769px)" srcset="./img/selected-works-3-xl.png">
                    <img src="./img/selected-works-3-sm.png" class="works__item-image" alt="360° video tour"
                        loading="lazy">
                </picture>
                <h4 class="works__item-title">360° video tour</h4>
                <svg class="template-arrow works__template-arrow" viewBox="0 0 48 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="template-arrow__line" d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
                </svg>
            </a>
        </div>



    </div>
</section>