<section class="services">
    <div class="container services__container">
        <div class="services__intro">
            <h2 class="template-title services__title">Services</h2>
            <h3 class="services__subtitle">Professional drone operations delivering accurate data, reliable performance, and high-quality aerial visuals for commercial and industrial needs.</h3>
            <a href="#" class="btn btn--primary services__btn" data-magnetic><span>GET A 360°</span></a>
        </div>
        <a href="#" class="services__item">
            <picture class="services__item-picture">
                <source media="(min-width: 769px)" srcset="./img/services-1-xl.png">
                <img src="./img/services-1-sm.png" class="services__item-image" alt="360° video tour" loading="lazy">
            </picture>
            <h4 class="services__item-title">360° video tour</h4>
            <p class="services__item-text">Lorem ipsum dolor sit amet consectetur. Tellus dignissim velit orci aliquet consectetur.</p>
            <svg class="template-arrow services__template-arrow" viewBox="0 0 48 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="template-arrow__line" d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
            </svg>
        </a>
        <a href="#" class="services__item">
            <picture class="services__item-picture">
                <source media="(min-width: 769px)" srcset="./img/services-2-xl.png">
                <img src="./img/services-2-sm.png" class="services__item-image" alt="d mapping" loading="lazy">
            </picture>
            <h4 class="services__item-title">3d mapping</h4>
            <p class="services__item-text">Lorem ipsum dolor sit amet consectetur. Tellus dignissim velit orci aliquet consectetur.</p>
            <svg class="template-arrow services__template-arrow" viewBox="0 0 48 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="template-arrow__line" d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
            </svg>
        </a>
        <a href="#" class="services__item">
            <picture class="services__item-picture">
                <source media="(min-width: 769px)" srcset="./img/services-3-xl.png">
                <img src="./img/services-3-sm.png" class="services__item-image" alt="2d & 3d images" loading="lazy">
            </picture>
            <h4 class="services__item-title">2d & 3d images</h4>
            <p class="services__item-text">Lorem ipsum dolor sit amet consectetur. Tellus dignissim velit orci aliquet consectetur.</p>
           <svg class="template-arrow services__template-arrow" viewBox="0 0 48 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="template-arrow__line" d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
            </svg>
        </a>
        <a href="#" class="services__item">
            <picture class="services__item-picture">
                <source media="(min-width: 769px)" srcset="./img/services-4-xl.png">
                <img src="./img/services-4-sm.png" class="services__item-image" alt="Videofly aerial recording" loading="lazy">
            </picture>
            <h4 class="services__item-title">Videofly aerial recording</h4>
            <p class="services__item-text">Lorem ipsum dolor sit amet consectetur. Tellus dignissim velit orci aliquet consectetur.</p>
            <svg class="template-arrow services__template-arrow" viewBox="0 0 48 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="template-arrow__line" d="M45.5 12.0001L-0.00010339 12M45.5 12.0001L36.5141 21.0001M45.5 12.0001L36.5141 3.00012" />
            </svg>
        </a>
    </div>
</section>