<svg class="svg-sprite">
    <symbol id="burger" width="35" height="35" viewBox="0 0 35 35" fill="transparent" xmlns="http://www.w3.org/2000/svg">
        <rect x="2" y="23" width="10" height="10" stroke="currentColor" stroke-width="4"/>
        <rect x="23" y="23" width="10" height="10" stroke="currentColor" stroke-width="4"/>
        <rect x="2" y="2" width="10" height="10" stroke="currentColor" stroke-width="4"/>
        <rect x="23" y="2" width="10" height="10" stroke="currentColor" stroke-width="4"/>
    </symbol>
</svg>  