<div class="container">
    <h1 class="template-title">about/project/service/</h1>
    <h2> h2 - Lorem ipsum dolor sit.</h2>
    <h3> h3 - Lorem ipsum dolor sit.</h3>
    <h4> h4 - Lorem ipsum dolor sit.</h4>
    <h5> h5 - Lorem ipsum dolor sit.</h5>
    <h6> h6 - Lorem ipsum dolor sit.</h6>
    <picture>
        <source media="(min-width: 769px)" srcset="/img/services-1-xl.png">
        <img src="/img/services-1-sm.png" alt="360° video tour" loading="lazy">
    </picture>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, quidem incidunt? Dignissimos praesentium
        obcaecati totam hic tempora deleniti explicabo fuga in culpa eveniet, impedit aliquam corrupti deserunt nulla
        accusantium soluta molestiae, cupiditate beatae saepe esse ad provident cumque? At ut, porro assumenda nisi
        temporibus quis consequatur veritatis accusantium fuga minima?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, quidem incidunt? Dignissimos praesentium
        obcaecati totam hic tempora deleniti explicabo fuga in culpa eveniet, impedit aliquam corrupti deserunt nulla
        accusantium soluta molestiae, cupiditate beatae saepe esse ad provident cumque? At ut, porro assumenda nisi
        temporibus quis consequatur veritatis accusantium fuga minima?</p>
    <picture >
        <source media="(min-width: 769px)" srcset="/img/services-2-xl.png">
        <img src="/img/services-2-sm.png" alt="d mapping" loading="lazy">
    </picture>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, quidem incidunt? Dignissimos praesentium
        obcaecati totam hic tempora deleniti explicabo fuga in culpa eveniet, impedit aliquam corrupti deserunt nulla
        accusantium soluta molestiae, cupiditate beatae saepe esse ad provident cumque? At ut, porro assumenda nisi
        temporibus quis consequatur veritatis accusantium fuga minima?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, quidem incidunt? Dignissimos praesentium
        obcaecati totam hic tempora deleniti explicabo fuga in culpa eveniet, impedit aliquam corrupti deserunt nulla
        accusantium soluta molestiae, cupiditate beatae saepe esse ad provident cumque? At ut, porro assumenda nisi
        temporibus quis consequatur veritatis accusantium fuga minima?</p>
</div>