:root {
    --primary: #5555F9;
    --secondary: #070892;
    --tertiary: #BBBBFD;
    --black: #2E2D2C;
    --dark-gray: #616161;
    --light-gray: #A3A3A3;
    --white: #F9F9F9;
    --error: #A92727;
    --typefaces: "Arial";
    --line-height: 1.2;
    --letter-spacing: 0.02em;
}

@font-face {
    font-family: "Arial";
    src: url("/assets/fonts/Arial-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Arial";
    src: url("/assets/fonts/Arial-Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Arial";
    src: url("/assets/fonts/Arial-Black.ttf") format('truetype');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

.markup-link {
    position: fixed;
    bottom: 24px;
    left: 18px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50%;
    padding: 8px 18px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.5s linear;
}

.markup-link:hover {
    color: var(--white);
    background-color: var(--secondary);
}