:root {
    --primary: #5555F9;
    --secondary: #070892;
    --tertiary: #bbbbfd;
    --black: #2e2d2c;
    --dark-gray: #616161;
    --light-gray: #A3A3A3;
    --white: #F9F9F9;
    --error: #A92727;
    --typefaces: "Arial";
    --line-height: 1.2;
    --letter-spacing: 0.02em;

    --section-padidng: 60px 0 100px;
    --template-title: 92px;
}

@media only screen and (max-width: 991.98px) {
    :root {
        --section-padidng: 50px 0 90px;
        --template-title: 48px;
    }
}

@media only screen and (max-width: 768.98px) {
    :root {
        --section-padidng: 40px 0 80px;
        --template-title: 36px;
    }
}