@use './variables' as *;

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  background: var(--primary);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 20;
  // mix-blend-mode: difference;
  background: linear-gradient(120deg,
      var(--secondary),
      var(--tertiary),
      var(--primary),
      var(--secondary));
  background-size: 800% 800%;
  animation: gradient-flow 10s linear infinite;
  opacity: 0.7;
}

.cursor.hover {
  width: 70px;
  height: 70px;
  opacity: 0.5;
}

.cursor.click {
  transform: translate(-50%, -50%) scale(2);
  backdrop-filter: blur(1px);
}

 