.feedback {
    padding: var( --section-padidng);
    padding-bottom: 38px;
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }
    
    &__template-title {
        margin-bottom: 40px;
    }

    &__subtitle {
        font-size: 16px;
        max-width: 239px;
        text-transform: uppercase;
    }
}

