@use './variables' as *;

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Base */
body,
input,
textarea {
  font-family: var(--typefaces);
  color: var(--black);
  background-color: var(--white);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-wrap: balance;
  hyphens: auto;
  overflow-wrap: break-word;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input,
textarea {
  text-transform: uppercase;
  font-weight: 900;
  text-wrap: auto;

  &:focus {
    outline: none;
  }
}

textarea {
  min-width: 100%;
  max-width: 100%;
  max-height: 290px;
  min-height: 19px;
  height: 19px;
  transition: height 0.1s ease;

  &:focus {
    height: 120px;
  }
}

b,
strong {
  font-weight: 600;
}

i,
em {
  font-style: italic;
}

p {
  margin-bottom: 1rem;
}

/* Lists */
ul,
ol {
  padding-left: 1.25em;
  margin-bottom: 1.25em;

  li {
    margin-bottom: 0.75em;
  }
}

ul {
  li {
    position: relative;
    padding-left: 26px;

    &::before {
      --size: 14px;
      content: "";
      position: absolute;
      left: 0;
      top: 0.15em;
      width: var(--size);
      height: var(--size);
      background-color: var(--tertiary);
    }
  }
}

ol {
  li {
    position: relative;
    padding-left: 26px;
    counter-increment: item;

    &::before {
      content: counter(item) ".";
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      text-align: center;
    }
  }
}

/* Links */
a {
  color: var(--black);
  text-decoration: underline;
  transition: color 0.3s;

  &:hover {
    color: var(--primary);
  }

  &:focus {
    color: var(--secondary);
  }
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

/* images */
img {
  height: auto;
  max-width: 100%;
}


iframe {
  width: 100%;
  height: 700px;
}

/* Layout */
article {
  overflow-wrap: break-word;
  padding: var(--section-padidng)
}

.container {
  @include container;
}

/* Template title */
.template-title {
  font-weight: 900;
  font-size: var(--template-title);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  z-index: 30;
  @include gradient-flow;
}

/* Animations */
@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 40% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 40% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


/* Font utils */
.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

/* Button */
.btn {
  --min-size: 45px;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--white);
  text-decoration: none;

  padding: 15px;
  min-width: var(--min-size);
  min-height: var(--min-size);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;
  position: relative;
  background: var(--black);
  overflow: hidden;

  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;

  transition: transform 0.3s ease;
  z-index: 20;

  &:hover,
  &:focus {
    color: var(--white);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(120deg,
        var(--black) 0%,
        var(--black) 20%,
        var(--secondary) 35%,
        var(--tertiary) 50%,
        var(--primary) 65%,
        var(--black) 80%,
        var(--black) 100%);
    background-size: 800% 800%;
    opacity: 0;
    z-index: 0;
    pointer-events: none;

    animation: btn-gradient-flow 10s linear infinite;
    transition: opacity 0.8s ease;
  }

  >* {
    position: relative;
    z-index: 1;
  }

  &:hover::before,
  &:focus-visible::before {
    opacity: 1;
  }

  &:active {
    transform: scale(0.97);
  }

  &--disabled {
    background-color: var(--dark-gray);
    color: var(--light-gray);
    pointer-events: none;
    animation: none;
  }
}

@keyframes btn-gradient-flow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (hover: hover) {

  .btn:hover,
  .btn:focus-visible {
    animation: btn-gradient-flow 7s linear infinite;
  }
}


.template-form {
  width: 100%;
  position: relative;
  max-width: 625px;
}

/* Input box */
.input-box {
  display: flex;
  justify-content: flex-end;
  min-height: 24px;
  gap: 20px;
  text-align: right;
  margin-bottom: 20px;

  &--checkbox {
    position: relative;
    justify-content: flex-start;
    margin-bottom: 5px;

    input {
      display: none;
    }

    label {
      --size: 24px;
      font-weight: 900;
      line-height: var(--size);
      letter-spacing: 0.02em;
      text-transform: uppercase;
      cursor: pointer;
      padding: 4px 0 4px 73px;
      transition: color 0.3s ease-out;

      &::before {
        content: "";
        width: var(--size);
        height: var(--size);
        border: 3px solid var(--black);
        background-color: var(--white);
        position: absolute;
        top: 3px;
        left: -3px;
        transition: background-color 0.3s ease-in-out;
      }

      &:hover {
        color: var(--primary);
      }
    }

    input:checked+label::before {
      background-color: var(--primary);
    }
  }

  &:last-of-type {
    margin-bottom: 60px;
  }

  &__label {
    font-weight: 900;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--black);
    white-space: nowrap;
  }

  &__input-wrapper {
    position: relative;
    width: 100%;
    max-width: 482px;
  }

  &__input {
    width: 100%;
    border: none;
    padding: 0;
    font-size: 16px;
  }

  &__svg {
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 100%;
    height: 40px;
    pointer-events: none;
  }

  &__line {
    stroke: var(--black);
    stroke-width: 1px;
    fill: transparent;
  }
}

.checkbox-group {

  &__legend {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 900;
    margin-bottom: 40px;
    text-transform: uppercase;
    max-width: 240px;
  }
}

.template-arrow {
  width: 53px;
  height: 25px;
  stroke-width: 4px;
  stroke-linecap: square;
  stroke: currentColor;

  &__line {
    transform: translateX(-17px);
    transition: transform 0.2s ease;
  }
}


.link-action {
  min-width: 162px;
  font-weight: 900;
  display: flex;
  align-items: center;
  column-gap: 40px;
  text-decoration: none;

  @include arrow-hover;

  &__text {
    max-width: 80px;

    &--lg {
      max-width: 180px;
      margin-right: auto;
    }
  }
}

.svg-sprite {
  display: none;
}

.body--overflow-hidden {
  overflow-y: hidden;
}

/* Selection */
:focus-visible {
  outline: 3px solid var(--primary);
  outline-offset: 6px;
}

::selection {
  color: var(--primary);
  background-color: var(--tertiary);
}

.markup-link:hover {
  color: var(--white);
  background-color: var(--secondary);
}