@use './variables' as *;

@media only screen and (max-width: 991.98px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .btn {
    --min-size: 37px;
    font-size: 14px;
    padding: 6px 9px;
    font-size: 14px;
  }

  .header {
    min-height: 57px;

    &__logo {
      width: 90px;
    }

    &__burger {
      display: block;
    }

    &__nav {
      display: none;
      position: absolute;
      inset: 57px 0 0 0;
      background-color: var(--white);
      justify-content: flex-end;
      padding-right: calc(157px - var(--link-padding));
    }

    &__list {
      flex-direction: column;
      width: 157px;
      padding-top: 60px;
      text-align: right;
    }
  }

  .header .header__list::after {
    /* ! nice selector*/
    display: none;
  }

  .services {
    &__btn {
      position: absolute;
      top: 62px;
      right: 10px;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__container {
      grid-row-gap: 50px;
    }

    &__item {
      width: 100%;

      &-title {
        margin-bottom: 18px;
      }

      &-text {
        font-size: 14px;
      }
    }
  }

  .feedback__container {
    gap: 40px;
  }

  .input-box {
    &:last-of-type {
      margin-bottom: 40px;
    }

    &--checkbox {
      font-size: 10px;

      label {
        padding-left: 55px;
      }
    }
  }

  .checkbox-group {
    &__legend {
      font-size: 12px;
    }
  }
}