@use './variables' as *;

@media only screen and (max-width: 768.98px) {
  :root {
    --section-padidng: 40px 0 80px;
  }

  .hero__image {
    width: 100%;
    aspect-ratio: 1.25;
  }

  .services {
    padding-bottom: 191px;

    &__btn {
      top: calc(100% - 151px);
      right: calc(50% - 53px);
    }

    &__container {
      grid-row-gap: 40px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__subtitle {
      font-size: 12px;
    }

    &__template-arrow {
      position: absolute;
      bottom: 2px;
      right: -5px;
    }
  }

  .card {
    width: 100%;

    &__image {
      height: 122px;
    }



    &__text {
      font-size: 12px;
      line-height: 1.24;
    }
  }

  .works {
    &__list {
      grid-template-columns: 1fr;
      row-gap: 40px;
    }

    &__item-image {
      aspect-ratio: 1 / 0.9;
    }

    &__template-arrow {
      bottom: -1px;
      right: -5px;
    }
  }

  .pagination__list {
    column-gap: 9px;
  }

  .feedback--row {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 40px;
    padding-bottom: 120px;
  }

  .feedback__map {
    margin: 0;
    aspect-ratio: 1 / 1;
  }

  .checkbox-group {
    margin-bottom: 40px;
  }
}