@use './variables' as *;

@media only screen and (max-width: 1199.98px) {
  .header__list {
    column-gap: 18px;
  }

  .services {
    &__container {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: calc(50% - 10px);
    }

    &__subtitle {
      margin-bottom: 0;
    }

    &__btn {
      position: absolute;
      top: 108px;
      right: 20px;
    }
  }

  .works__link-action {
    position: static;
  }

  .link-action {
    margin-bottom: 40px;
  }

  .news {
    &__title-container {
      flex-direction: column;
      justify-content: flex-start;
    }

    &__template-title,
    &__link-action {
      flex: 0 0 auto;
    }

    &__link-action {
      max-width: 587px;
    }

    &__list {
      &--grid {
        display: block;
      }
    }

    &__item {
      padding-left: 0;
      padding-right: 0;

      &--grid-item {
        min-height: auto;
      }
    }
  }

  .feedback {
    &__container {
      flex-direction: column;
    }
  }
}