@use './variables' as *;

@media only screen and (min-width: 1200px) {
    .news {
        &__item {
            &:hover {
                background-color: var(--primary);
                color: var(--white)
            }
        }
    }



    .feedback {

        &__title-container {
            flex: 1 0 620px;
        }

        &__title-container--basis-auto {
            flex-basis: auto;
        }

        &__template-form {
            flex: 0 1 625px;
        }

        &__template-form--basis-auto {
            flex-basis: auto;
        }
    }
}