@use './variables' as *;

.works {
    padding: var(--section-padidng);
    position: relative;

    &__container {
        position: relative;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__link-action {
        position: absolute;
        right: 15px;
        top: 56px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        position: relative;
        @include arrow-hover;

        &-picture {
            display: flex;
            margin-bottom: var(--card-image-gap);
        }

        &-image {
            aspect-ratio: 1 / 1.231;
            object-fit: cover;
            width: 100%;
        }

        &-title {
            font-size: var(--card-title-size);
            letter-spacing: 0;
            max-width: 405px;
            margin: auto 0 0 0;
            padding-right: var(--icon-offset);
            text-transform: uppercase;
            @include line-clamp(2);
        }
    }

    &__template-arrow {
        position: absolute;
        bottom: 3px;
        right: 0;
    }
}