@use './variables' as *;

.services {
    padding: var(--section-padidng);
    position: relative;

    &__container {
        display: grid;
        grid-template-columns: 556px repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-rows: auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 60px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 60px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        position: relative;

        &:nth-child(5n) {
            grid-column: 2 / 4;
            grid-row: auto;
        }

        &-image {
            height: 200px;
            object-fit: cover;
            width: 100%;
            margin-bottom: 40px;
        }

        &-title {
            font-size: 32px;
            margin-bottom: 20px;
            font-weight: 900;
            text-transform: uppercase;
        }

        &-text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: auto 0 0 0;
            max-width: 364px;
            padding-right: 64px;
        }

        &-arrow {
            width: 48px;
            height: 25px;
            stroke-width: 4px;
            stroke-linecap: square;
            stroke: currentColor;

            position: absolute;
            bottom: 6px;
            right: 0;

            &-line {
                transform: translateX(-17px);
                transition: transform 0.4s ease;
            }
        }

        &:hover {
            .services__item-arrow-line {
                transform: translateX(0);
            }
        }
    }
}